<div class="weather-widget" [class.preview]="isPreview">
    @if (widget) {
        @let location = widget.location;
        @let weather = widget.weather;
        @let settings = widget.settings;
        <div class="general-info">
            @if (location && weather) {
                <app-widget-general
                        [caption]="location.name + ' (' + location.countryCode + ')'"
                        [iconCode]="weather.iconCode"
                        [description]="weather.description">
                </app-widget-general>
            }
        </div>
        <div class="widget-temp">
            @if (weather?.temp && settings) {
                <app-widget-temp [temp]="widget.weather.temp" [selectedUnits]="settings.tempUnits"></app-widget-temp>
            }
        </div>
        <div class="wind">
            @if (weather?.wind && settings) {
                <app-widget-wind [wind]="widget.weather.wind" [selectedUnits]="settings.speedUnits"></app-widget-wind>
            }
        </div>
        <div class="meta">
            <p class="m-0"><small>Last update: {{ weather.tms | date: 'dd.MM.yy hh:mm' }}</small></p>
        </div>
        <div class="actions">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a [routerLink]="['/', 'widgets', widget.id]" class="btn btn-sm btn-outline-light">
                    <i class="bi-pencil-fill"></i>
                </a>
                <button (click)="update.emit(widget.id)" type="button" class="btn btn-sm btn-outline-light">
                    <i class="bi-arrow-clockwise"></i>
                </button>
                <button (click)="remove.emit(widget.id)" type="button" class="btn btn-sm btn-outline-light">
                    <i class="bi-trash-fill"></i>
                </button>
            </div>
        </div>
    }
</div>

