// only non-markup files allowed!
@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";

// some app variables
$app-header-height: 140px;

// custom mixins
@mixin abs($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}


