<div class="widget-details">
    <div class="row">
        <div class="preview col-3">
            <h4>Preview</h4>
            <!--                        <app-weather-widget [widget]="widget"></app-weather-widget>-->
        </div>
        <div class="location col-7" [formGroup]="form">
            <div class="row">
                <div class="col-6">
                    <h4>Location</h4>
                    @let selectedLocation = selectedLocation$ | async;
                    @if (selectedLocation) {
                        <p>{{ selectedLocation.name }}
                            <button type="button" (click)="clearLocation()" class="btn btn-sm btn-danger">X</button>
                        </p>
                    } @else {
                        <app-location-picker
                                formControlName="location"
                                (search)="onSearch($event)"
                                [suggestedOptions]="suggestedLocations$ | async"
                        ></app-location-picker>
                    }
                </div>
                <div class="col-6" formGroupName="settings">
                    <h4>Settings</h4>
                    <div class="form-check form-check-inline">
                        <input formControlName="tempUnits"
                               class="form-check-input"
                               type="radio"
                               id="radioDefault1"
                               value="C">
                        <label class="form-check-label" for="radioDefault1">
                            Celsius
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="tempUnits"
                               class="form-check-input"
                               type="radio"
                               id="radioDefault2"
                               value="F">
                        <label class="form-check-label" for="radioDefault2">
                            Fahrenheit
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="location col-2">
            <button [disabled]="!selectedLocation" (click)="saveWidget()" type="button" class="btn btn-success">Save
            </button>
        </div>
    </div>
</div>
