<div class="footer">
    <div class="container">
        <div class="links">
            <a href="mailto: 4reezo@gmail.com" target="_blank"><i class="bi-envelope-fill"></i></a>
            <a href="https://www.reddit.com/u/4reezo" target="_blank"><i class="bi-reddit"></i></a>
            <a href="https://github.com/4reezo/wMonitor" target="_blank"><i class="bi-github"></i></a>
            <a href="https://t.me/frozencat" target="_blank"><i class="bi-telegram"></i></a>
        </div>
    </div>
</div>
