@import "init";

.header {
  height: $app-header-height;
  width: 100%;
  background-color: #9a61ae;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  color: $white;
  font-size: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  gap: .5rem;

  &:hover {
    color: $gray-200;
  }
}
