/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
  width: 100%;
}

/* OVERRIDES START */
$body-bg: #61adab;
/* OVERRIDES END */

// safe import
@import "app/scss/init";

// BOOTSTRAP PARTS
// root
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/utilities/api";

// grid
@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";

// forms
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";


